@{
    ViewData["Title"] = "BOOKDB";
}

<div class="text-center">
    <h1 class="display-4">BOOK DATABASE</h1>
    <p><a class="nav-link text-dark" asp-area="" asp-controller="Books" asp-action="Index">ENTER</a></p>
</div>
